/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Zen+Old+Mincho:wght@700&display=swap');
/* VARIABLES */
:root{
    --color-blanco: #FFFFFF;
    --color-marron-claro: #D6BDA6;
    --color-negro: #000000;
    --color-crema: #F0E9DB;
    --color-marron-oscuro: #706257;
}
/* SELECTOR UNIVERSAL */
*{
    margin: 0;
    padding: 0;
}
/* ESTILOS GENERALES */
header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 95%;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0rem 0rem 4.5rem;
}
nav{
    display: flex;
    gap: 6rem;
    position: relative;
    right: 15rem;
}

a{
    text-decoration: none;
    color: var(--color-negro);
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
i{
    font-size: 1.1rem;
}
section{
    display: flex;
}
h1{
    font-size: 6.7rem;
    font-family: 'Zen Old Mincho', serif;
    font-weight: 700;
    width: 80%;
    line-height: 7rem;
    letter-spacing: -5px;
    
}
/* HEADER */
nav a{
    position: relative;
}
nav a::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--color-negro);
    top: 1rem;
    transition: all 250ms;
}
nav a:hover::before{
    width: 100%;
}
.enlaces-usuario{
    display: flex;
    align-items: center;
    gap: 2.3rem;
    padding-right: 3rem;
}
.iconos-usuario{
    display: flex;
    gap: 1.4rem;
}
.iconos-usuario i{
    font-size: 1.4rem;
}
.cartera{
    position: relative;
}
.cartera::before{
    content: "1";
    position: absolute;
    background-color: var(--color-crema);
    color: var(--color-negro);
    border: 1px solid var(--color-negro);
    border-radius: 50%;
    padding: 0.06rem 0.22rem;
    text-align: center;
    font-size: 0.45rem;
    bottom: 0.8rem;
    left: 0.8rem;
}
.divisor{
    height: 1.5rem;
    width: 0.05rem;
    background-color: var(--color-marron-oscuro);
    opacity: 0.5;
}
.registro-usuario{
    display: flex;
    align-items: center;
    gap: 1.8rem;
}
.sign-up{
    border: 1px solid var(--color-negro);
    padding: 0.35rem 0.9rem;
}
/* FIN HEADER */
/* HERO */
.fondo-blanco{
    background-color: var(--color-blanco);
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 2.2rem 0rem 4.5rem;
    position: relative;
    height: 100vh;
}

.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    position: relative;
    top: 2rem;
}
.titulo a{
    border: 2px solid var(--color-negro);
    padding: 0.8rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    width: fit-content;
    position: relative;
}
.parrafo{
    position: relative;
    top: 15rem;
}
.parrafo p{
    width: 40%;
    font-family: 'Zen Old Mincho', serif;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 1.4rem;
    letter-spacing: -1px;
    color: var(--color-marron-oscuro);
}
.fondo-marron{
    background-color: var(--color-marron-claro);
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
}
.fondo-marron img{
    width: 60rem;
    height: 53rem;
    position: absolute;
    top: 5.05rem;
    right: 9.5rem;
}
ul{
    list-style: none;
    font-size: 0.5rem;
    font-weight: 600;
    position: relative;
    top: 0.5rem;
}
li{
    margin: 2.5rem 3.7rem;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    cursor: pointer;
}
li::before{
    content: "";
    position: absolute;
    height: 600%;
    width: 0.2rem;
    background-color: #706257;
    left: 0.8rem;
    top: -1.5rem;
    border-radius: 10px;
    transition: all 250ms;
}
li:first-child::before{
    background-color: #000000;
}
li:hover::before{
    background-color: var(--color-negro);
}
/* FIN HERO */
