/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Sumana:wght@400;700&display=swap');
/* VARIABLES */
:root{
    --color-blanco: #FFFFFF;
    --color-marron-claro: #D6BDA6;
    --color-negro: #000000;
    --color-crema: #F0E9DB;
    --color-marron-oscuro: #706257;
}
/* SELECTOR UNIVERSAL */
*{
    margin: 0;
    padding: 0;
}
/* ESTILOS GENERALES */
header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 95%;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2.2rem;
}
nav{
    display: flex;
    gap: 6rem;
    position: relative;
    right: 14rem;
}
main{
    overflow: hidden;
}
a{
    text-decoration: none;
    color: var(--color-negro);
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
i{
    font-size: 1.1rem;
}
section{
    display: flex;
}
h1{
    font-size: 6rem;
    font-family: 'Sumana', serif;
    font-weight: 400;
    width: 80%;
    line-height: 8rem;
}
/* HEADER */
.enlaces-usuario{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.iconos-usuario{
    display: flex;
    gap: 1.4rem;
}
.divisor{
    height: 1.5rem;
    width: 0.05rem;
    background-color: var(--color-marron-oscuro);
    opacity: 0.5;
}
.registro-usuario{
    display: flex;
    align-items: center;
    gap: 1.4rem;
}
.sign-up{
    border: 1px solid var(--color-negro);
    padding: 0.4rem 0.5rem;
}
/* FIN HEADER */
/* HERO */
.fondo-blanco{
    background-color: var(--color-blanco);
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 2.2rem;
    position: relative;
}
.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    position: relative;
    top: 2rem;
}
.titulo a{
    border: 2px solid var(--color-negro);
    padding: 0.8rem 2.2rem;
    font-size: 1rem;
    font-weight: 600;
    width: fit-content;
}
.parrafo{
    position: relative;
    top: 15rem;
}
.parrafo p{
    width: 40%;
    font-family: 'Sumana', serif;
    font-weight: 700;
    line-height: 1.5rem;
    color: var(--color-marron-oscuro);
}
.fondo-marron{
    background-color: var(--color-marron-claro);
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.fondo-marron img{
    width: 59rem;
    height: 53rem;
    position: absolute;
    top: 5.05rem;
    right: 9.5rem;
}
ul{
    list-style: none;
    font-size: 0.5rem;
    font-weight: 600;
    position: relative;
    top: 0.5rem;
}
li{
    margin: 2.5rem 3.7rem;
    position: relative;
    cursor: pointer;
}
li::before{
    content: "";
    position: absolute;
    height: 600%;
    width: 0.2rem;
    background-color: #706257;
    left: 0.7rem;
    top: -1rem;
    border-radius: 10px;
    transition: all 250ms;
}
li:first-child::before{
    background-color: #000000;
}
li:hover::before{
    background-color: var(--color-negro);
}
/* FIN HERO */